body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(73, 73, 73);
    background-color: bisque;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        color: chocolate;
    }
    li{
        font-style: italic;
        font-size: small;
        color: blue;
        font-weight: normal;
    
    }
    .resume_heading {
        font-weight: 600;
        font-style: normal;
    }
    .underline {
        text-decoration: underline;
    }